In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'age': [6, 7, np.NaN],
                   'born': [pd.NaT, pd.Timestamp('1989-05-28'),
                            pd.Timestamp('1990-04-26')],
                   'name': ['Phantom', 'Batman', ''],
                   'toy': [None, 'Batmobile', 'Joker']})
print(df)

   age       born     name        toy
0  6.0        NaT  Phantom       None
1  7.0 1989-05-28   Batman  Batmobile
2  NaN 1990-04-26               Joker

In [2]:
df.isna()

     age   born   name    toy
0  False   True  False   True
1  False  False  False  False
2   True  False  False  False

In [4]:
df.isna().sum()

age     1
born    1
name    0
toy     1
dtype: int64